<?xml version="1.0" encoding="utf-8"?>
<!--First version of this URDF was automatically created by SolidWorks to URDF Exporter!
    as part of eYSIP 2022 
    Originally created by Stephen Brawner (brawner@gmail.com) 
    Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
    For more information, please see http://wiki.ros.org/sw_urdf_exporter 

    This version of the URDF is made after a lot of simplification by the e-Yantra Team (Arjun Sadananda) -->

<robot
  name="hola_bot">

  <!-- Chassis -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.49" />
      <inertia
        ixx="0.00199"
        ixy="0"
        ixz="0"
        iyy="0.00199"
        iyz="0"
        izz="0.00395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 1.57" />
      <geometry>
        <mesh
          filename="package://your_package_name/meshes/base_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.01"
        rpy="0 0 1.57" />
      <geometry>
        <cylinder radius="0.15" length="0.005"/>
      </geometry>
    </collision>
  </link>


<!-- Front Wheel -->

  <!-- Front Wheel Link -->
  <link
    name="front_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.062" />
      <inertia
        ixx="0.000285"
        ixy="0"
        ixz="0"
        iyy="0.0005198"
        iyz="0"
        izz="0.0002851" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hola_bot/meshes/wheel.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 -.01 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius=".03" length="0.02"/>
      </geometry>
    </collision>
  </link>
</robot>